doctype html
html
    head
        meta(charset="utf-8")
        title web-term
        link(rel="stylesheet", href="./master.scss")
    body
        .app
            .term
        script(src="./main.ts")